.product-listview__card_content {
    padding: 15px
}

.product-listview__inco_info {
    display: flex
}

.product-listview__inco_info--flex_item {
    margin-right: 8px
}

.product-listview .btn-wish {
    top: 4px
}

.product-listview .card-point {
    font-size: 0
}

.product-listview .card-point .label {
    font-size: 1.2rem;
    display: inline-block;
    margin: 0 6px 6px 0
}

.product-listview .card-point .label-additional {
    background-color: rgba(100,179,244,.1);
    color: #64b3f4
}

ul.main-category {
    margin: 0 -20px;
    transition: .2s
}

ul.main-category > li {
    padding: 0 20px;
    cursor: pointer
}

ul.main-category > li.open, ul.main-category > li:hover {
    background: #eff9fa
}

ul.main-category > li > a {
    position: relative;
    color: #333;
    border-bottom: 1px solid #eee
}

ul.main-category > li:last-child > a {
    border-bottom: 0
}

ul.main-category > li > i {
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    padding: 16px
}

ul.sub-category {
    padding: 10px;
    width: calc(100% + 40px);
    left: auto;
    right: calc(-100% - 40px);
    top: 0;
    box-shadow: 2px 2px 4px rgba(0,0,0,.1);
    border-radius: 0;
    max-height: none;
    background: #eff9fa;
    border: 0;
    z-index: 9
}

ul.sub-category li a {
    padding-left: 10px
}

.product-list .board .city-item {
    height: 200px
}

.product-list .board .city-item .caption {
    padding: 15px
}

.product-list .board .city-item h5 {
    font-size: 1.8rem
}

.also-search {
    background-color: #fff;
    padding: 50px 0
}

.checkbox-filter-box {
    padding: 5px 0;
    border: 0;
    background-color: #fff;
    border-radius: 6px;
    margin-bottom: 15px
}

.checkbox-filter-box > h4 {
    padding: 0 20px
}

.checkbox-filter-box ul {
    list-style: none;
    padding: 0
}

.checkbox-dropdown {
    position: relative;
    margin: 0 auto;
    user-select: none
}

.drop-title {
    padding: 10px 20px;
    cursor: pointer
}

.drop-title h5 {
    margin: 5px 0
}

.drop-title.active {
    background: #eff9fa
}

.drop-title:hover {
    background: #eff9fa
}

.drop-title .drop-item {
    margin: 0;
    padding: 3px;
}
.drop-title .drop-item:hover {
    background: #F2F4F4;
}

.drop-title .sub-drop-item {
    margin: 0;
    padding: 3px;
}

.drop-title .sub-drop-item:hover {
    background: #E5E8E8;
}

.checkbox-dropdown-list .checkbox {
    margin: 5px 20px;
    padding: 10px 20px;
    border-bottom: 1px solid #eee
}

.map-entrance {
    position: relative;
    height: 140px;
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer
}

.map-entrance__bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform .2s ease-out
}

.map-entrance:hover .map-entrance__bg-img {
    transform: scale(1.2);
    transition-duration: .4s
}

.map-entrance__marker {
    position: absolute;
    left: calc(50% - 18px);
    top: 30px;
    width: 36px
}

.map-entrance:hover .map-entrance__marker {
    animation-name: marker-bounce;
    animation-direction: alternate;
    animation-duration: .3s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite
}

.map-entrance__text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    padding: 8px 0;
    background-color: hsla(0,0%,100%,.7)
}

@keyframes marker-bounce {
    0% {
        transform: translateY(0)
    }

    to {
        transform: translateY(-20px)
    }
}

.modal-product-map .modal-dialog {
    width: calc(100% - 50px)
}

.modal-product-map .modal-content {
    overflow: hidden
}

    .modal-product-map .modal-content:before {
        content: none
    }

.modal-product-map .modal-body {
    padding: 0
}

.modal-product-map .close {
    background-color: rgba(0,0,0,.8);
    position: absolute;
    top: -10px;
    right: -10px;
    text-shadow: none;
    color: #fff;
    width: 36px;
    height: 36px;
    border-radius: 50%
}

.product-map {
    display: flex;
    height: calc(100vh - 60px)
}

.product-map__google-map {
    flex: 1 1 auto;
    min-width: 0
}

.product-map__product-card-list {
    flex-shrink: 0
}

@media (max-width:991px) {
    .product-map__product-card-list {
        display: none
    }
}

.product-map-product-card-list {
    position: relative;
    padding: 10px;
    width: 400px;
    box-shadow: 6px 0 5px -3px rgba(0,0,0,.2);
    overflow-y: auto;
    z-index: 1
}

.product-map-product-card-list__loading-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: hsla(0,0%,100%,.3);
    z-index: 10
}

.product-map-product-card-list--loading .product-map-product-card-list__loading-mask {
    display: flex
}

.product-map-product-card-list .card {
    border: 1px solid #eaeaea;
    margin-bottom: 10px;
    box-shadow: none
}

.product-map-card {
    display: flex;
    cursor: pointer
}

    .product-map-card .product-img {
        flex: 0 0 auto;
        width: 120px
    }

    .product-map-card .product-detail {
        flex: 1 1 auto;
        padding: 10px;
        min-width: 0
    }

        .product-map-card .product-detail h3 {
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 1.5;
            max-height: 6.3rem;
            min-height: 4.2rem;
            height: auto;
            margin-top: 0;
            margin-bottom: 5px;
            -webkit-line-clamp: 3
        }

            .product-map-card .product-detail h3 a {
                color: #333
            }

    .product-map-card .product-footer {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end
    }

    .product-map-card .btn-book {
        flex: 0 0 auto;
        padding: 8px 16px;
        line-height: 1;
        border-width: 1px;
        margin-left: 10px
    }

    .product-map-card .product-footer-left {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start
    }

    .product-map-card .product-pricing {
        line-height: 1
    }

        .product-map-card .product-pricing span {
            font-size: 1.2rem
        }

        .product-map-card .product-pricing h4 {
            font-size: 1.8rem;
            line-height: 1;
            margin-top: 5px
        }

.product-map-lost-hint {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.product-map-lost-hint__img {
    width: 200px;
    margin-bottom: 20px
}

.product-map-lost-hint__title {
    font-size: 2rem;
    margin-bottom: 10px
}

.product-map-lost-hint__subtitle {
    color: #666;
    margin-bottom: 30px
}

.product-card-list-end-hint {
    display: flex;
    align-items: center;
    padding: 20px
}

.product-card-list-end-hint__img {
    flex: 0 0 auto;
    width: 80px
}

.product-card-list-end-hint__text {
    color: #666
}

.product-map-google-map, .product-map-google-map__map {
    width: 100%;
    height: 100%
}

.product-map-google-map__popup-loading {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center
}

.product-map-google-map .card {
    margin-bottom: 0
}

    .product-map-google-map .card .product-footer-left {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end
    }

        .product-map-google-map .card .product-footer-left > div:only-child {
            margin-left: auto
        }

    .product-map-google-map .card .btn-book {
        display: none
    }

.cluster {
    font-weight: 700;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
    border: 1px solid #26bec9;
    background-color: rgba(38,190,201,.4)
}

    .cluster.active {
        animation-name: active-cluster;
        animation-direction: alternate;
        animation-duration: .3s;
        animation-timing-function: ease;
        animation-iteration-count: infinite
    }

    .cluster.active, .cluster:hover {
        z-index: 2000000 !important;
        background-color: rgba(38,190,201,.6)
    }

@keyframes active-cluster {
    0% {
        transform: scale(1)
    }

    to {
        transform: scale(1.2)
    }
}

.popup-bubble {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%,-100%);
    background-color: #fff;
    padding: 0;
    border-radius: 6px;
    width: 375px;
    overflow-y: auto;
    box-shadow: 0 2px 10px 1px rgba(0,0,0,.5)
}

.popup-bubble-anchor {
    position: absolute;
    width: 100%;
    bottom: 45px;
    left: 0
}

    .popup-bubble-anchor:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%);
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 8px solid #fff
    }

    .popup-bubble-anchor:before {
        content: "";
        position: absolute;
        width: 60px;
        height: 30px;
        left: -30px;
        top: -15px
    }

.popup-container {
    cursor: auto;
    height: 0;
    position: absolute
}

.popup-container--bottom .popup-bubble-anchor {
    bottom: -10px
}

    .popup-container--bottom .popup-bubble-anchor:after {
        top: auto;
        bottom: 0;
        border-top: 8px solid transparent;
        border-bottom: 8px solid #fff
    }

.popup-container--bottom .popup-bubble {
    transform: translate(-50%)
}
